@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply a3U;
  }
}

.sticky-navbar {
  @apply aw a3V a24 aG dark:a24;
}

.sticky-navbar .menu-scroll.active,
.menu-scroll.active {
  @apply aU dark:aU;
}

.sticky-navbar ul > .menu-item > a {
  @apply lg:a1m[21px];
}

.submenu-item a.active {
  @apply aU dark:aV;
}
.submenu-item a.active span svg {
  @apply a3W lg:a3X;
}

.container {
  @apply a7 sm:ad[540px] md:ad[720px] lg:ad[960px] xl:ad[1140px] 2xl:ad[1320px];
}

.keep-signed:checked ~ span.box {
  @apply a3H a1q;
}

.keep-signed:checked ~ span.box .icon {
  @apply ah;
}

#togglePlan:checked ~ span .dot {
  @apply a3Y[26px];
}

.faq .faq-btn::after {
  content: "+";
  @apply a1C a2e aT dark:aV;
}
.faq.active .faq-btn::after {
  content: "-";
}

.faq .faq-content {
  @apply a3Z aj a18 a3_ a40 a23;
}

.faq.active .faq-content {
  @apply a41 a1m[30px]  a1c;
}

.swiper-button-prev,
.swiper-button-next {
  @apply aH a42 a2x ae an ao af ar a2j a3u a43 a1B after:ak hover:a3H hover:a1q hover:aV;
}

.parent {
  pointer-events:none;        
}
.child {
  pointer-events:auto;
}


.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
